In [118]:
import pandas as pd
import numpy as np

## Reading files

In [119]:
wh2018 = pd.read_csv('2018_v2.csv')
wh2019 = pd.read_csv('2019_v2.csv')

Adding extra column to identify year of population

In [120]:
wh2018['year'] = 2018
wh2019['year'] = 2019

Union of three files

In [121]:
wh = pd.concat([wh2018,wh2019])

In [122]:
wh.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'year'],
      dtype='object')

## Ejercicios

1. Partiendo de Wh, realice un analisis de valores nulos. que porcentaje de valores nulos se encuentran en cada columna por anio. presente el analisis en un dataframe

Ejemplo:

In [123]:
pd.DataFrame({
    "year": [2017,2017]
    , "column" : ["Happiness.Rank","Whisker.low"]
    , "percentage.of.nans" : [0.2,0.2]
})

   year          column  percentage.of.nans
0  2017  Happiness.Rank                 0.2
1  2017     Whisker.low                 0.2

### resolucion ejercicio uno

In [124]:
year_group = wh.groupby('year').count()

In [125]:
nansdict ={}
for year in year_group.index:
    nansdict[year] = {}

In [126]:
for year in year_group.index:
    for c in wh.columns[0:-1]:
        nansdict[year][c] = wh.loc[wh['year'] == year][c].isnull().sum() / year_group[c][year]*100

In [127]:
dataframeNullPorcentage = pd.DataFrame(nansdict)

In [128]:
dataframeNullPorcentage

                                   2018      2019
Overall rank                   0.000000  0.000000
Country or region              0.000000  0.000000
Score                          3.311258  9.859155
GDP per capita                 6.122449  1.960784
Social support                10.638298  0.645161
Healthy life expectancy        8.333333  9.859155
Freedom to make life choices   8.333333  7.586207
Generosity                    12.230216  2.631579
Perceptions of corruption      4.697987  4.000000

2. partiendo de Wh, por año muestre un resumen de todas las columnas.

nota: aunque solo tenemos tres años, que pasaria si en nuestro dataframe tenemos 20 años? resuelva su ejercicio lo mas dinamico que se pueda

### resolucion ejercicio dos

In [129]:
for year in wh['year'].unique().tolist():
    print(f'Summary of year {year}\n')
    print(wh.loc[wh['year'] == year].describe())
    print('\n')

Summary of year 2018

       Overall rank       Score  GDP per capita  Social support  \
count    156.000000  151.000000      147.000000      141.000000
mean      78.500000    5.354060        0.892748        1.205915
std       45.177428    1.109532        0.399153        0.306070
min        1.000000    2.905000        0.000000        0.000000
25%       39.750000    4.451500        0.598500        1.047000
50%       78.500000    5.358000        0.940000        1.258000
75%      117.250000    6.154000        1.214500        1.462000
max      156.000000    7.632000        2.096000        1.592000

       Healthy life expectancy  Freedom to make life choices  Generosity  \
count               144.000000                    144.000000  139.000000
mean                  0.597576                      0.456514    0.181360
std                   0.250700                      0.162312    0.099147
min                   0.000000                      0.000000    0.000000
25%                   0.413750                      0.355750    0.115000
50%                   0.651000                      0.487000    0.173000
75%                   0.782000                      0.580000    0.234000
max                   1.030000                      0.724000    0.598000

       Perceptions of corruption    year
count                 149.000000   156.0
mean                    0.112859  2018.0
std                     0.098108     0.0
min                     0.000000  2018.0
25%                     0.050000  2018.0
50%                     0.082000  2018.0
75%                     0.138000  2018.0
max                     0.457000  2018.0


Summary of year 2019

       Overall rank       Score  GDP per capita  Social support  \
count    156.000000  142.000000      153.000000      155.000000
mean      78.500000    5.434028        0.900758        1.208265
std       45.177428    1.109031        0.400770        0.300082
min        1.000000    2.853000        0.000000        0.000000
25%       39.750000    4.566000        0.578000        1.055500
50%       78.500000    5.405500        0.960000        1.269000
75%      117.250000    6.196500        1.237000        1.453000
max      156.000000    7.769000        1.684000        1.624000

       Healthy life expectancy  Freedom to make life choices  Generosity  \
count               142.000000                    145.000000  152.000000
mean                  0.722965                      0.395441    0.185092
std                   0.247263                      0.141704    0.094987
min                   0.000000                      0.000000    0.025000
25%                   0.541250                      0.309000    0.108750
50%                   0.785000                      0.418000    0.177000
75%                   0.889250                      0.507000    0.248250
max                   1.141000                      0.631000    0.566000

       Perceptions of corruption    year
count                 150.000000   156.0
mean                    0.109053  2019.0
std                     0.093279     0.0
min                     0.000000  2019.0
25%                     0.047750  2019.0
50%                     0.085000  2019.0
75%                     0.140250  2019.0
max                     0.453000  2019.0

3. partiendo de Wh, remplace los valores NaN de las columnas por su mean, el mean debe de ser calculado por año para ser mas exacto

### resolucion ejercicio tres

In [130]:
meanscolumns = wh.groupby('year').mean()

In [131]:
arrayearsfilled =[]

In [132]:
for year in wh['year'].unique().tolist():
    wh.loc[wh['year'] == year] = wh.loc[wh['year'] == year].fillna(meanscolumns.loc[year])

In [133]:
wh

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,year
0,1,Finland,7.632,1.305,1.592000,0.874,0.681,0.20200,0.393,2018
1,2,Norway,7.594,1.456,1.582000,0.861,0.686,0.28600,0.340,2018
2,3,Denmark,7.555,1.351,1.590000,0.868,0.683,0.28400,0.408,2018
3,4,Iceland,7.495,1.343,1.205915,0.914,0.677,0.18136,0.138,2018
4,5,Switzerland,7.487,1.420,1.549000,0.927,0.660,0.25600,0.357,2018
...,...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711000,0.614,0.555,0.21700,0.411,2019
152,153,Tanzania,3.231,0.476,0.885000,0.499,0.417,0.27600,0.147,2019
153,154,Afghanistan,3.203,0.350,0.517000,0.361,0.000,0.15800,0.025,2019
154,155,Central African Republic,3.083,0.026,0.000000,0.105,0.225,0.23500,0.035,2019
155,156,South Sudan,2.853,0.306,0.575000,0.295,0.010,0.20200,0.091,2019

4. Partiendo de Wh limpio, para cada metrica por pais, muestra la diferencia del ultimo valor encontrado contra el primero.

Ejemplo:

In [134]:
wh.loc[ wh['Country or region'] == 'Switzerland' , : ]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,year
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018
5,6,Switzerland,7.480,1.452,1.526,1.052,0.572,0.263,0.343,2019

Como se puede observar para Switzerland en Score la diferencia seria 7.480 - 7.487

Claramente en su solucion la columna año se debera de eliminar

### resolucion ejercicio cuatro

In [135]:
paises = wh['Country or region'].unique().tolist()

In [136]:
diferenciaencontrada = pd.DataFrame(index = wh['Country or region'])

In [137]:
for i in diferenciaencontrada.index:
    pass
    #diferenciaencontrada =  wh.loc[wh['Country or region'] == 'Switzerland' , : ]